table {
	/* border-bottom: 1px solid #333; */
	border-collapse: collapse;
}

th, td {
	padding: 0.6em;
}

th {
	border-bottom: 1px solid #333;
}

td {
	border: 1px solid gray;
}

/* 
Since pseudo-elements are not simple selectors, they are not valid arguments
https://developer.mozilla.org/en-US/docs/Web/CSS/:not
td:not(.named :first-child) { 
	text-align: right;
} */

td {
	text-align: right;
}

.named :first-child {
	text-align: left;
}