body {
	margin: 1rem;
	font-family: Cambria, Cochin, Times, 'Times New Roman', serif;
}

table {
	border-collapse: collapse;
	border: 1px solid #ccc;
}

th, td {
	padding: 0.6em;
}

td {
	border: 1px dotted gray;
	border-left: 1px dotted black;
	background-color: rgb(255, 254, 241);
	text-align: right;
}

ul {
	padding-left: 1rem;
}

li {
	list-style-type: square;
}

/* 
Since pseudo-elements are not simple selectors, they are not valid arguments
https://developer.mozilla.org/en-US/docs/Web/CSS/:not
td:not(.named :first-child) { 
	text-align: right;
} */

.named :first-child {
	text-align: left;
}

/* Progress bars */

.named {
	position: relative;
	z-index: -1
}

.bars::after {
	content: '';
	display: inline-block;
	/* background: orange;
	width: 50%; */
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
}