table {
	/* border-bottom: 1px solid #333; */
	border-collapse: collapse;
}

th, td {
	padding: 0.6em;
}

th {
	border-bottom: 1px solid #333;
}

td {
	border: 1px solid gray;
}

td:not(.name) {
	text-align: right;
}